{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_polygon.css' %}">
    <link rel="icon" href="{% static 'colombia.png' %}">
    <title>Configurar-KML-SHP</title>
</head>
<body>
    <div class="container_a">
        <div class="container">
            <form action="{% url 'configurate' %}" method="POST">
                <h2>
                    Configurar archivo cargado
                </h2>
                {% csrf_token %}
                {% if largo == 0 %}
                <h2>Debes cargar archivos</h2>
                {% else %}
                <h4>Escoge un archivo</h4>
                <br>
                <select id="files" name="files">
                    {% for i in lista %}
                    <option value="{{i}}" name="choose">{{i}}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" value="Configurar">
                {% endif %}
            </form>    
                <br>
                <br>
                <br>
                <br>
                <br>
                <a href="{% url 'upload' %}">Cargar archivos</a>
                <br>
                <br>
                <a href="{% url 'polygon' %}">Volver a dibujar poligono</a>
                <br>
                <br>
                <a href="{% url 'point' %}">Ir a puntos guardados</a>
                <br>
                <br>
                <a href="{% url 'map' %}">Volver al mapa</a>
            
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <strong>IS-SAR</strong>
        </div>
    </div>
</body>
</html>