{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_polygon.css' %}">
    <link rel="icon" href="{% static 'colombia.png' %}">
    <title>Configurar punto</title>
</head>
<body>
    <div class="container_a">
        <div class="container">
            <form action="" method="post" class="formulario">
                {% csrf_token %}
                <h3>
                    Configurar visualización de punto
                </h3>
                <br>
                Coordenada (Lat, Lon): 
                <br>
                <br>
                {{ form.Latitud }} {{ form.Longitud }}
                <br>
                <br>
                <input type="submit" value="configurar" class="button">
                <br>
                <br>
                <a href="{% url 'map' %}">Volver al mapa</a>
            </form>
        </div>
    </div>
</body>
</html>