{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_polygon.css' %}">
    <link rel="icon" href="{% static 'colombia.png' %}">
    <title>Configurar poligono</title>
</head>
<body>
    <div class="container_a">
        <div class="container">
            <form action="" method="post" class="formulario">
                {% csrf_token %}
                <h2>
                    Configurar Lote
                </h2>
                <br>
                Coordenadas del lote dibujado:  
                <br>
                <br>
                {{ polygon }}
                <br>
                <br>
                Nombre del poligono: 
                <br>
                {{ form.name_p }}
                <br>
                <br>
                <input type="submit" value="Visualizar en mapa" class="button">
                <br>
                <br>
                ¿Tienes las coordenadas? <a href="{% url 'polygon2' %}">Configuralo manualmente</a>
                <br>
                <br>
                <a href="{% url 'save_polygon' %}">Ir a lotes guardados</a>
                <br>
                <br>
                <a href="{% url 'map' %}">Volver al mapa</a>
            </form>
            <br>
            <br>
            <br>
            <br>
            <strong>IS-SAR</strong>
        </div>
    </div>
    {% if message %}
    <script>
        alert('Ya tienes registrado el nombre del polígono, ingresa un nombre diferente')
    </script>
    {% endif %}
</body>
</html>