{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style_polygon.css' %}">
    <link rel="icon" href="{% static 'colombia.png' %}">
    <title>Configurar punto</title>
</head>
<body>
    <div class="container_a">
        <div class="container">
            <br>
            <form action="" method="post" class="formulario">
                {% csrf_token %}
                <h2>
                    Poligonos guardados de {{user.username}}
                </h2>
                <br>
                <h4>Selecciona un punto guardado: </h4>
                <br>
                {{ form.options }}
                <br>
                <br>
                <input type="submit" value="configurar" class="button">
                <br>
                <br>
                <a href="{% url 'map' %}">Volver al mapa</a>
                <br>
                <br>
                <a href="{% url 'polygon' %}">Dibujar poligono</a>
            </form>
            <br>
            <br>
            <br>
            <br>
            <h4>IS-SAR</h4>
        </div>
    </div>
</body>
</html>