.container_a {
    position:relative;
    width:90vw;
    height: 90vh;
    margin: auto;
}

.container {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 470px; 
    height: 500px;
    background-color: burlywood;
    text-align: center;
    border-radius: 15px;
}

.formulario {
    
}

a {
    text-decoration: none;
}

.button {
    cursor: pointer;
    width: 150px;
}