@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500&display=swap');

* {
  font-family: 'Fredoka', sans-serif;
}

.container_a {
    position:relative;
    width:90vw;
    height: 95vh;
    margin: auto;
}

.container {
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    width: 470px; 
    height: 530px;
    background-color: #66CDAA;
    text-align: center;
    border-radius: 15px;
}

a {
    text-decoration: none;
}

a:link {
    color: black;
  }
a:visited {
    color: black;
  }

.button {
    cursor: pointer;
    width: 150px;
}